*{
    margin:0;
    padding:0;
}

.fpassword-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80vh;
    align-content: center;
    background-image: url(https://images.pexels.com/photos/7134986/pexels-photo-7134986.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat:no-repeat;
    background-size: cover;
}

.fpassword-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 232, 255);
    padding: 130px;
    box-shadow: 1px 1px 10px black;
}

.fpassword-card > h1{
   margin-left: 10px;
   color: rgb(20, 124, 168);
   font-size: 38px;
}

.input-box-f{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
}

.input-box-f > h3{
    font-size: 20px;
    margin-bottom: 2px;
}

.input-box-f > input{
    height:20px;
    width:150px;
    font-size: 14px;
    padding:3px;
    margin-bottom: 15px;
}

.input-box-f > button{
    background-color: rgb(0, 78, 147);
    padding:10px;
    color: white;
    margin-top: 20px;
    width:fit-content;
    font-size: 15px;;
}
