*{
    margin: 0;
    padding:0;
}

.navbartemp{
    height: 60px;
    width: 100%;
    background-color: rgb(203, 228, 250);;
}

.otp-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otp-card{
    position:absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 75vh;
    width:50%;
    background-color: aliceblue;
    box-shadow:1px 1px 10px black;
}

.heading-otp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-otp > h1{
    color: rgb(34, 125, 158);
}

.heading-otp >h4{
    margin-bottom: 30px;
}

.otp-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100px;
   
}

.otps{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 300px;
}

.otp-input > .otps > input{
    margin: 0 20px;
    width: 30px;
    height: 40px;
    text-decoration: underline;
    text-align: center;
}

.submit-button-div{
    width: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.submit-button-div > button{
    background-color: rgb(88, 164, 230);
    padding: 10px;
    font-size: 17px;
    border-radius: 2px;
    color: black;
    margin-left: 15px;
}

.close-div{
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center;
    width: 40%;
    height: 20px;
}

.close-div > button{
    font-size: 20px;
    color: black;
    border: 1px solid black;
    
}
