*{
    margin:0;
    padding:0;
}

.navbar2{
    display: flex;
    align-items: center;
    width:100%;
    background-color: rgb(116, 186, 247);
    height:60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar2 > a > i{
    margin-left:10px;
    font-size: 30px;
    color: rgb(0, 22, 42);
}

.feed-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80vh;
}

.feed-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px;
    background-color: rgb(120, 185, 241);
}

.input-box-feed{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.input-box-feed > label {
    font-size: 20px;
}

.input-box-feed > input{
    width:200px;
    height:25px;
    padding: 5px;
}

.input-box-feed > textarea{
    width: 200px;
    height: 250px;
    padding:5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.feed-card > button{
    background-color: rgb(0, 98, 184);
    padding:8px;
    color: white;
    font-size: 18px;
    margin-top:15px;
}
